form {
    font-family: helvetica;
    font-size: 38px
}

p {
    font-family: helvetica;
    font-size: 38px
}

.error {
    font-family: helvetica;
}

.hmbr {
    font-family: "NanumMyeongjo YetHangul";
    font-size: 38px
}

.hmbr1 {
    font-family: "NanumMyeongjo YetHangul";
    font-size: 38px
}